@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.App {
  text-align: center;
}
html {
  /* So scrolling is smooth when button is clicked. */
  scroll-behavior: smooth;
}
 
hr {
  /* Hr lines under Projects and Skills. */
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(to left, #ffd220, #C73E1D);
}
.title{
  font-size: 30px;
}

.App-header {
  background-image: url("images/titleBackground.png");
  /* Center on left of image, for mobile users. */
  background-position: 10% 90%; 
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


// ------------------------
// https://codepen.io/alvarotrigo/pen/MWEJEWG
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0; 
  background: linear-gradient(to left, #ffd220, #C73E1D);
  color: #FFF;
  height: 70px;
  padding: 1em;
  /* Make NavBar Sticky. */
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  /* Remove link decorations. */
  a:hover, a:visited, a:link, a:active
  {
      text-decoration: none;
      color: #FFF;
      font-size: 25px;
  }
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    /* Add margin to account for navbar height. */
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    /* Open menu item height. */
    height: 3.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    
  }
  .menu > li{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #222;  

  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;

 
  }


}



// ------------------------

.projects {
  /* Background color behind project cards. */
  background-color: #2C4251;
  /* Padding is needed as shadows extend over the edge and the background goes white */
  padding: 20px;
}
.skills {
  /* Background color behind skills cards. */
  background-color: #95B8D1;
  /* Padding is needed as shadows extend over the edge and the background goes white */
  padding: 20px;
}

/* Apply padding to titles of skills and projects. Also make titles white. */
.projectTitle, .skillTitle{
  padding: 30px;
  color: #f2f2f2;

}

.projectCardsContainer {
  // Center items in the cards container and add a flex warp.
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Card with shadow */
.projectCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* Rounded corners */
  border-radius: 5px;
  margin: 20px;
  /* Add background color to the cards to make them white. */
  background-color: #f2f2f2;
  width: 500px;
}
.projectCard:hover {
  /* When hover, change shadow... cool! */
  box-shadow: 0 50px 160px 0 rgba(0,0,0,0.2);
}

.projectCard img {
    /* Rounded corners */
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.projectCardContainer {
  padding: 2px 16px;
}

footer {
  color: #f2f2f2;
  padding: 10px;
  background-color: #2C4251;
}


// ---------- Little cards

.littleCardContainer {
  // Center items in the cards container and add a flex warp.
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* Card with shadow */
.littleCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* Rounded corners */
  border-radius: 5px;
  margin: 10px;
  /* Add background color to the cards to make them white. */
  background-color: #f2f2f2;
  width: 100px;
}

.colorDefJava{
  background-color: #e88242;
  color: #FFF;
}

.colorDefCSS{
  background-color: #2f50f5;
  color: #FFF;
}

.colorDefHTML{
  background-color: #C73E1D;
  color: #FFF;
}

.colorDefReact{
  background-color: #00BAF0;
  color: #FFF;
}

.colorDefAWS{
  background-color: #f06c00;
  color: #FFF;
}
.colorDefS3{
  background-color: #a82020;
  color: #FFF;
}

.colorDefAI{
  background-color: #37da37;
  color: #FFF;
}

.colorDefData{
  background-color: #6fe2c1;
  color: #FFF;
}

.colorDefTypeScript{
  background-color: #0080f0;
  color: #FFF;
}

.colorDefPython{
  background-color: #f7e91f;
  color: #000000;

}
.colorDefPandas{
  background-color: #241058;
  color: #FFF;
}

.colorDefSklearn{
  background-color: #ffa500;
  color: #FFF;
}

.colorDefNumPy{
  background-color: #268dd1;
  color: #FFF;
}

.colorDefSciPy{
  background-color: #1a5488;
  color: #FFF;
}

.colorDefLua{
  background-color: #0b0b71;
  color: #FFF;
}

.colorDefNextJS{
  background-color: black;
  color: #FFF;
}

.colorDefMQTT {
  background-color: #800080;
  color: #FFF;
}

.colorDefJupyter{
  background-color: #ff8000;
  color: #FFF;
}

.colorDefJavaScript{
  background-color: #efd511;
  color: #000000;
}

.colorDefRemote-Build{
  background-color: #b00101;
  color: #FFF;
}